fastapi
uvicorn
python-multipart
python-dotenv
langchain==0.3.0
langchain-community==0.3.0
langchain-core==0.3.0
langchain-groq==0.2.0
langchain-huggingface
langchain-text-splitters==0.3.0
sentence-transformers
pinecone-client
pypdf
requests
tqdm
pydantic
torch
transformers
huggingface-hub